
 .new-tweet {
  padding: 5px 0;
}

.counter.error {
  color: hsl(16, 91%, 49%);
}

.new-tweet form {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.new-tweet form textarea {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: none;
  font-size: 30px;
  border-bottom: 2px solid black;
  background-color: wheat;
  background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
 
}

.button-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Bungee;
  margin: 1rem 0 0 0;
}

.new-tweet form button {
  background: #4152a1;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 15px;
}

.new-tweet  form  div {
  margin-top: 12px;
}

#message{
  color: hsl(16, 91%, 49%);;
}

 @media (min-width: 1024px) {
  .new-tweet {
    margin-top: 10em;
    width: 100%;
  } 
}

