.tweets-container {
margin: 2rem 0 2rem 0;
}
.tweet-component {
  padding: 0 1rem 1rem 1rem;
  border: 2px solid #48453C;
  margin: 2rem 0 0 0;
}


.image-username-refkey {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  margin: 2rem 0;
}
.image-username {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-username img {
  height: 4rem;
  width: 4rem;
  margin-right: 1rem;
}

.tweet-content {
  margin: 4rem 0 0 0;
  padding: 0 0 1rem 0;
  font-weight: bold;
  border-bottom: 2px solid black;
}

.time-reactions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.time-reactions i {
  color: #4056a1;
}

.time-reactions i:hover {
  cursor: pointer;
  color: #473e0F;
}

@media (max-width: 560px) {
  .container {
    align-items: center;
    margin-left: 3px;
  }
}


